.ck-content .image-style-align-left {
    float: left;
    clear: inherit !important;
}
.editor__editable, main .ck-editor[role='application'] .ck.ck-content, .ck.editor__editable[role='textbox'], .ck.ck-editor__editable[role='textbox'], .ck.editor[role='textbox'] {
    width: 100%;
    background: #fff;
    font-size: 1.2em;
    line-height: 1.6em;
    min-height: var(--ck-sample-editor-min-height);
    padding: 1.5em 2em;
}
.ck-content ul, .ck-content li {
    list-style: inherit;
    margin-left: 10px;
}
.ck.ck-editor__editable pre {
    position: relative;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 6px;
    border: 0px;
    color: #673AB7;
}
.ck.ck-editor .ck-editor__top .ck-sticky-panel .ck-toolbar {
    margin-left: 10px;
}
.ckediter-wrapper {
    border: 1px solid var(--ck-color-base-border);
    border-radius: var(--ck-border-radius);
    box-shadow: 2px 2px 0px hsla( 0, 0%, 0%, 0.1 );
    margin: 1.5em 0;
    padding: 1em;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 10px;
}
.ckediter-wrapper__words {
    flex-grow: 1;
    opacity: .5;
    padding-left: 20px;
}
    .ckediter-wrapper h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 .5em;
        padding: 0;
    }

    .ckediter-wrapper .ck.ck-editor__editable_inline {
        border: 1px solid hsla( 0, 0%, 0%, 0.15 );
        transition: background .5s ease-out;
        min-height: 6em;
        margin-bottom: 1em;
    }

.ckediter-wrapper__controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ckediter-wrapper__chart {
    margin-right: 1em;
}

.ckediter-wrapper__chart__circle {
    transform: rotate(-90deg);
    transform-origin: center;
}

.ckediter-wrapper__chart__characters {
    font-size: 10px;
    font-weight: bold;
}

.ckediter-wrapper__words {
    flex-grow: 1;
    opacity: .5;
}

.ckediter-wrapper__limit-close .ckediter-wrapper__chart__circle {
    stroke: hsl( 30, 100%, 52% );
}

.ckediter-wrapper__limit-exceeded .ck.ck-editor__editable_inline {
    background: hsl( 0, 100%, 97% );
}

.ckediter-wrapper__limit-exceeded .ckediter-wrapper__chart__circle {
    stroke: hsl( 0, 100%, 52% );
}

.ckediter-wrapper__limit-exceeded .ckediter-wrapper__chart__characters {
    fill: hsl( 0, 100%, 52% );
}


.ck.ck-sticky-panel .ck-sticky-panel__content_sticky {
    z-index: 9999999999 !important;
    top: 25px !important;
}