li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: #fff!important;
}

/* Causes line numbering to appear on every line */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
    list-style-type: decimal !important;
}
/* Required for markdown code block to work */
/* pre tags will work without this */
pre.prettyprinted {
    display: block;
   
}

pre.prettyprinted ol.linenums {
    top: 72px !important;
    margin: auto 25px !important;
}