
@media screen and (min-width: 800px) {
  .scroll-nav {
    float: right;
  }
}
@media screen and (max-width: 799px) {
    .scroll-nav {
        text-align: center;
        display: none;
    }
    .page__header {
      
        padding: 0px;
      
        height: 64px;
    }
        .page__header .container {
            padding: 0px !important;
        }
            .page__header .container .page__title {
                letter-spacing: -.03em;
                display: inline-block;
                vertical-align: inherit;
                text-shadow: 0 1px 1px rgba(0,0,0,0.05), 0 3px 7px rgba(0,0,0,0.05);
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 100%;
                position: absolute;
                left: 5px;
            }
    
}

.scroll-nav__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
.scroll-nav__list:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 799px) {
  .scroll-nav__list {
    display: inline-block;
  }
}

.scroll-nav__item {
  margin-bottom: 5px;
  float: left;
  margin-right: 15px;
  border-bottom: 1px solid transparent;
}

.scroll-nav__item--active {
  
  border-bottom-color: white;
}
    .scroll-nav__item--active .scroll-nav__link {
        color: #a71930;
    }
    .scroll-nav__link {
        color: white;
        text-decoration: none;
    }

.page__header {
    padding: 20px 10px;
    width: 100%;
    float: left;
    left: 0px;
    box-shadow: none;
    background: #9E9E9E;
    z-index: 99999;
    margin-bottom: 20px;
}
    .page__header.fixed {
        top: 0;
        position: fixed;
    }
    .page__header:after {
        content: "";
        display: table;
        clear: both;
    }

.page__title {
    margin: 0;
    font-size: 22px;
    color: white;
    float: left;
    width: 20%;
    height: 28px;
    overflow: hidden;
    word-break: break-all;
    padding-right: 20px;
}
@media screen and (max-width: 799px) {
  .page__title {
    text-align: center;
    margin-bottom: 15px;
  }
}

