<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="owin:AutomaticAppStartup" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true " />
  <add key="PreserveLoginUrl" value="true" />
  <add key="RolesConfigKey::Group" value="1|Item_Post,2|Item_Post,1|Assets_Get,1|Assets_Owner"/>
  <add key="RolesConfigKey::User" value="Public|Assets_Get,Public|Assets_Owner"/>
  <add key="RolesConfigKey::Domain" value="www.selectgo.vn|*,insight.selectgo.vn|*,plugins.selectgo.vn|plugins-snippets,plugins.selectgo.vn|information.html,templates.selectgo.vn|web-themes-templates"/>
  <add key="UsersConfigKey" value="1,2"/>
  <add key="Credits:ToolsDev" value="123@sg" />
  <add key="IncludeProperties" value="custom" />
  <add key="IncludeProperties::Page" value="PageTemplate" />
  <add key="IncludeProperties::Category" value="CategoryTemplate,CategoryChildren" />
  <add key="IncludeProperties::CategoryFilter_FilterOption" value="{{product::manufacturers}},{{product::attributesx}},{{product::specificationattributes}}" />
  <add key="IncludeProperties::Product" value="Picture,ProductPictureMappings,ProductCategoryMappings,ProductProductTagMappings,ProductManufacturerMappings,ProductSpecificationAttributeMappings" />
  <add key="IncludeProperties::ProductTag" value="ProductCategoryMappings,ProductCategoryMappings.Category,ProductProductTagMappings,ProductProductTagMappings.Product" />
  <add key="IncludeProperties::Manufacturer" value="ProductManufacturerMappings,ProductManufacturerMappings.Product" />
  <add key="IncludeProperties::BlogCategory" value="ChildCategories,ChildCategories.BlogPostCategoryMappings,ChildCategories.BlogPostCategoryMappings.BlogPost,BlogPostCategoryMappings,BlogPostCategoryMappings.BlogPost, BlogPostCategoryMappings.BlogPost.BlogComments" />
  <add key="IncludeProperties::BlogTag" value="BlogPostTagMappings,BlogPostTagMappings.BlogPost,BlogPostTagMappings.BlogPost.BlogPostCategoryMappings, BlogPostTagMappings.BlogPost.BlogPostCategoryMappings.BlogCategory" />
  <add key="IncludeProperties::BlogPost" value="BlogPostCategoryMappings,BlogComments,BlogPostProductMappings,BlogPostTagMappings" />
  <add key="Application::BundlesReservedPathsCss" value="/default/home/css,/default/account/base/css,/default/account/register/css,/default/account/login/css,/default/account/credits/css,/default/account/profile/css,/default/page/css,/default/pagelist/css,/default/taglist/css,/default/blog/blog-category/default/css,/default/blog/blog-category/faq/css,/default/blog/blog-post/default/css,/default/blog/blog-post/faq/css,/default/search/css,/default/blog/blog-tag/css,/default/blog/blog-list/css,/default/catalog/category/css/default,/default/catalog/category/css/infinite,/default/catalog/category/css/dash,/default/catalog/category/css/filter,/default/catalog/category/css/grid,/default/catalog/product/showcase/css,/default/catalog/product/inside/css,/default/catalog/product/template/css,/default/catalog/product/resource/css,/default/catalog/product/preview/css,/plugins/back-to-top/css,/default/checkout/css,/default/cart/css,/default/cart-inline/css" />
  <add key="Application::BundlesReservedPathsJs" value="/default/home/js,/default/account/base/js,/default/account/register/js,/default/account/login/js,/default/account/credits/js,/default/account/profile/js,/default/page/js,/default/pagelist/js,/default/taglist/js,/default/catalog/category/js/default,/default/catalog/category/js/infinite,/default/catalog/category/js/dash,/default/catalog/category/js/filter,/default/catalog/category/js/grid,/default/catalog/product/showcase/js,/default/catalog/product/resource/js,/default/catalog/product/preview/js,/default/catalog/product/inside/js,/default/catalog/product/template/js,/default/blog/blog-category/default/js,/default/blog/blog-category/faq/js,/default/blog/blog-post/default/js,/default/blog/blog-post/faq/js,/plugins/back-to-top/js,/default/checkout/js,/default/cart/js,/default/cart-inline/js" />
  <add key="Application::KeyNotAvailable" value="Global::PageSizeBlogTag,Store::1-ShowProductRating,Store::1-ShowProductPurchased,Global::StoreAvailable,Global::PageSizeManufacturer,Global::PageSizeOurStaff,Global::PageSizeTestimonial" />
  <add key="Application::DisabledAsynToFile" value="blogpost," />
  <add key="Application::DisabledAsynToCache" value="*" />
  <add key="Application::ProductInsideToken" value="resource-,link-,page-,slot-"/>
  <add key="Application::DisabledAsynToLanguage" value="N/A" />
  <add key="Application::ConnectStringDefault" value="NBContext_SelectGo" />
  <add key="Application::NameSpace" value="Default" />
  <add key="Application::Host" value="selectgo.vn" />
  <add key="Application::StoreAvailable" value="1," />
  <add key="Store::1-ApprovedReviewDefault" value="True" />
  <add key="Store::1-CheckoutAsGuest" value="True" />
  <add key="Store::1-CustomCss" value="" />
  <add key="Store::1-CustomCssMobile" value="" />
  <add key="Store::1-CustomJs" value="" />
  <add key="Store::1-Favicon" value="favicon.ico" />
  <add key="Store::1-FbAppId" value="" />
  <add key="Store::1-FbAppSecret" value="" />
  <add key="Store::1-GoogleAnalyticCode" value=" " />
  <add key="Store::1-GoogleWebmasterToolCode" value="" />
  <add key="Store::1-LanguageDefault" value="en" />
  <add key="Store::1-LiveChatCode" value=" " />
  <add key="Store::1-Logo" value="logo.png" />
  <add key="Store::1-Maintenance" value="False" />
  <add key="Store::1-MaxRate" value="5" />
  <add key="Store::1-PrimaryColor" value="" />
  <add key="Store::1-RegisterActiveDefault" value="False" />
  <add key="Store::1-SecondaryColor" value="" />
  <add key="Store::1-ShowLiveChat" value="False" />
  <add key="Store::1-ShowPrice" value="True" />
  <add key="Store::1-ShowSuggestSearch" value="True" />
  <add key="Store::1-ShowViewed" value="False" />
  <add key="Store::1-Skin" value="upload-new-skin" />
  <add key="Store::1-Slogan" value="Gắn kết lâu dài - Thành công vượt trội" />
  <add key="Store::1-StoreLink" value="http://insight.selectgo.vn" />
  <add key="Store::1-StoreName" value="「Sg.」" />
  <add key="Global::CacheStatus" value="enabled" />
  <add key="Global::DirsMedia" value="\uploads-1\" />
  <add key="Global::LinksAdmin" value="http://admin.selectgo.vn" />
  <add key="Global::LinksApi" value="http://127.0.0.1:2020/external;http://beautyfullsapi.selectgo.vn" />
  <add key="Global::LinksMedia" value="http://storage.selectgo.vn/media" />
  <add key="Global::LinksMediaCdn" value="http://cdn.selectgo.vn/media;http://storage.selectgo.vn/media" />
  <add key="Global::PageSizeDefault" value="8" />
  <add key="Global::PageSizeProductTag" value="8" />
  <add key="Global::PageSizeSearch" value="12" />
  <add key="Global::ResourcesMedia" value="F:\Inetpub\asiteplus.com\storage.selectgo.vn\media" />
  <add key="Global::selectgo.vn" value="1" />
  <add key="Global::SiteStatus" value="private" />
</appSettings>
