<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
    xmlns="http://www.w3.org/2001/04/xmlenc#">
    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <KeyName>Rsa Key</KeyName>
        </KeyInfo>
        <CipherData>
          <CipherValue>Tl0S34bt6BF8nn2MRGOT9O/lvmMU4h0O9MNXl3Q+RpPeozh1Pj5s82w14GNxBlPCIECdBOqxawAG+bWZ0Jbpco9+ZwoWKnXmOHroYmgq/g/EJQ7SleaK17nabfU+pa8xkUQeufsISsyE6lnZCUJPibwtlPtg4/9VHTFtT8oyWE+l2r+WVZa+sFB2fy6FsyJ78nBiFBKydX9kBslrx12gz6FgI2nn7TMp3t0tGkANpMDQ5ltsY4BJhes5hQlgg1wZygiHY7H4s+fpU9jsXQ5H12226Nuf41Aub0+VCWgqf5y9t7bN2SGUc6t9X4M3fXyA0NrtGH7PrYiku8ZvxWy2JQ==</CipherValue>
        </CipherData>
      </EncryptedKey>
    </KeyInfo>
    <CipherData>
      <CipherValue>Ski6dzo08JJyWRKUWhevfFtfnYks9Ow772P4Ug8tZiGAIqlQ7RTHjQfWJSzBLG3OszvT/9YwjnG04eQAFv4umAv8d/rWclgc7WGvk9Pok4hGVD7mV2GzrveHMlmqkLJNm2mAU0vjQ9tD7dyHiD43Z4Sd7r5K13ZSippTT5swnbtL11BE+6Sv1wmrnpNwZ59TrDbLwuCgizBHppJsQ0WTpIVoYvT7P8UgN0Zzip1JTFMe6o85SHqoeSt5rIvE66Mprzu6726LQmIABa0zdLUwRHZA6A2Fp+D1oIOQRj/zCLv+SoDBcfrfvGPUZuPJq4szFSRsc+ARRo6zyDA3bqSu566S9Yw6RNsXT8mXeV+0IbNJjah/SU5/objsNKrxn0vi5dxoueaBnHi45hS5kGeszsPqzrb0C+LaGinkV/7ZOd4yerzt5vyo5b9XdQ4uJUSYIFpP9kEkOdyePl+hBpDTo6B6DfoDdtkRk3N34SBDKPC9KQLVz9P+3cq+0D9wt22YRXEcVeHJ86DW4B3/ZQpWpIUqost9AvqHhhwKRLnjV7hjNK0t3LIBaqBrGy5eCB0jnFnDFV9jcEeoHAQiyDUk9BLUMclCRm8QR+Jg9fnHOpbFmNYtctLxDEPCuSeMzA9cj/RSBZKiztB6+aut2Fqms1WQzqKX0DsICYCa1c7kcbWLAYxirozb6qez9u/m3E+Kcfwla1htmtx8OR0ZAseyB8bp1B0Zt4+zbFVKmXOQ8Yk=</CipherValue>
    </CipherData>
  </EncryptedData>
</connectionStrings>