/* cyrillic-ext */

html {
    background: #c2c3c3;
}
.as-content{ margin: auto 12%!important;}
.the-content p {
    width: 100%;
    font-family: 'Roboto-Regular';
    font-size: 15px;
    color: #252525;
    line-height: 25px;
    margin-bottom: 25px;
}
.the-content img {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}