.navbar, .wrapper .container, .footer .container, .footer .center {
    position: relative;
    max-width: 1122px;
    margin: 0 auto 8px;
}

.wrapper {
    margin-top: 72px;
    background-color: rgba(0, 0, 0, 0.03);
}
.navbar {
    width: 100%;
    position: relative!important;
}
    .navbar {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

    .navbar .left {
        display: none;
    }

    .navbar .logo {
        margin: 0px;
    }

.align-unit {
    width: 72% !important;
    height: 75px !important;
    border-radius:0px!important;
}
    button .submit-files {
    width: 100%!important;
}
.fancybox-container {
    z-index: 99999999!important;
}
/* 
Full screen background image
*/
.hero {
    background: #2D3657;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    border-bottom: 1px solid #ffffff30;
}

    /*
Blueish tint overlay
*/
    .hero:after {
        content: '';
        
    }

    /* 
Making sure everything in .hero sits above our :after elements 
*/
    .hero * {
        position: relative;
        z-index: 1;
    }

#masthead {
    padding: 2.5em 0;
    position: relative;
}

    #masthead.is-active {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    }

    /*
Using this method because browsers can transition opacity very cheaply as opposed to using background: rgba
https://www.html5rocks.com/en/tutorials/speed/high-performance-animations/
*/
    #masthead:after {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    #masthead.is-active:after {
        opacity: 1;
    }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger-quick {
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    float: left;
    font: inherit;
    margin: 0.8125em 0 0;
    overflow: visible;
    outline: none!important;
    padding: 0;
    text-transform: none;
    transition: opacity 0.15s;
    -webkit-appearance: none;
}

    .hamburger-quick:hover {
        opacity: 0.7;
    }

.hamburger-quick-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-quick-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

    .hamburger-quick-inner,
    .hamburger-quick-inner::before,
    .hamburger-quick-inner::after {
        width: 30px;
        height: 2px;
        background-color: #fff;
        border-radius: 4px;
        position: absolute;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

#masthead.is-active .hamburger-quick-inner,
#masthead.is-active .hamburger-quick-inner::before,
#masthead.is-active .hamburger-quick-inner::after {
    background-color: #fff;
}

.hamburger-quick-inner::before,
.hamburger-quick-inner::after {
    content: "";
    display: block;
}

.hamburger-quick-inner::before {
    top: -6px;
}

.hamburger-quick-inner::after {
    bottom: -6px;
}

/*
 * Boring
 */
.hamburger-quick--boring .hamburger-quick-inner,
.hamburger-quick--boring .hamburger-quick-inner::before,
.hamburger-quick--boring .hamburger-quick-inner::after {
    transition-property: none;
}

.hamburger-quick--boring.is-active .hamburger-quick-inner {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

    .hamburger-quick--boring.is-active .hamburger-quick-inner::before {
        top: 0;
        opacity: 0;
    }

    .hamburger-quick--boring.is-active .hamburger-quick-inner::after {
        bottom: 0;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

.hamburger-quick-label {
    color: #fff;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.08em;
    line-height: 1;
    margin-left: 0.3125em;
    text-transform: uppercase;
}

#masthead.is-active .hamburger-quick-label {
    color: #a71930;
}

.hamburger-quick-box,
.hamburger-quick-label {
    display: inline-block;
    vertical-align: middle;
}

#site-nav {
    clear: both;
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    padding-top: 2.5em;
}

    #site-nav.is-active {
        height: auto;
        overflow: visible;
    }

    #site-nav .col {
        padding-bottom: 2.5em;
    }

@media screen and (min-width: 550px) {
    #site-nav {
        flex-direction: row;
        flex-wrap: wrap;
    }

        #site-nav .col {
            flex: 0 0 50%;
        }
}

@media screen and (min-width: 768px) {
    #site-nav .col {
        flex: 0 0 33.333333333%;
    }
}

@media screen and (min-width: 960px) {
    #site-nav {
        flex-wrap: nowrap;
    }

        #site-nav .col {
            flex: 0 0 20%;
        }

            #site-nav .col:last-child {
                display: flex;
                justify-content: flex-end;
            }
}

#site-nav h4 {
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

#site-nav ul {
    list-style-type: none;
    margin-top: 1em;
}

#site-nav li {
    margin-bottom: 0.3125em;
}

    #site-nav li a {
        color: #b4b9ba;
        text-decoration: none;
        transition: color 0.3s ease;
    }

        #site-nav li a:hover,
        #site-nav li a:focus {
            color: #686d6e;
        }

#site-nav .social {
    margin: 0;
    overflow: hidden;
}

    #site-nav .social li {
        float: left;
        margin: 0 0.3125em;
        width: 32px;
        height: 32px;
    }

        #site-nav .social li svg {
            display: block;
            fill: #b4b9ba;
            width: 100%;
            height: 100%;
            transition: fill 0.3s ease;
        }

        #site-nav .social li:hover svg {
            fill: #686d6e;
        }

#masthead-search {
    float: right;
    margin-top: 0.625em;
    width: 100%;
    max-width: 14em;
    position: relative;
    -webkit-appearance: none;
}

    #masthead-search input {
        background: transparent;
        border: none;
        border-color: #fff;
        border-style: solid;
        border-width: 1px;
        border-radius: 50px;
        outline: none;
        width: 100%;
        padding: 0.75em 1.125em;
        transition: border-color 0.3s ease;
        -webkit-appearance: none;
    }

    #masthead-search button {
        background: none;
        border: none;
        color: #fff;
        font-size: 1em;
        padding: 0;
        position: absolute;
        top: 50%;
        right: 0.75em;
        transform: translateY(-50%);
        -webkit-appearance: none;
    }

#masthead.is-active #masthead-search button {
    color: #b4b9ba;
}

#masthead.is-active #masthead-search input {
    border-color: #b4b9ba;
}

#masthead-search ::-webkit-input-placeholder {
    color: #fff;
}

#masthead-search :-moz-placeholder {
    color: #fff;
    opacity: 1;
}

#masthead-search ::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

#masthead-search :-ms-input-placeholder {
    color: #fff;
}

#masthead.is-active #masthead-search ::-webkit-input-placeholder {
    color: #b4b9ba;
}

#masthead.is-active #masthead-search :-moz-placeholder {
    color: #b4b9ba;
    opacity: 1;
}

#masthead.is-active #masthead-search ::-moz-placeholder {
    color: #b4b9ba;
    opacity: 1;
}

#masthead.is-active #masthead-search :-ms-input-placeholder {
    color: #b4b9ba
}

#masthead .col {
    opacity: 0;
}

#masthead.is-active .col {
    transform: translateY(40px);
    transition: opacity 0.3s ease;
    animation: fade-in-stagger 0.8s ease forwards;
}

    #masthead.is-active .col:nth-child(1) {
        -webkit-animation-delay: 0;
    }

    #masthead.is-active .col:nth-child(2) {
        -webkit-animation-delay: 0.1s;
    }

    #masthead.is-active .col:nth-child(3) {
        -webkit-animation-delay: 0.2s;
    }

    #masthead.is-active .col:nth-child(4) {
        -webkit-animation-delay: 0.3s;
    }

    #masthead.is-active .col:nth-child(5) {
        -webkit-animation-delay: 0.4s;
    }

@keyframes fade-in-stagger {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

ul.honey {
    width: 70vmin;
    height: 70vmin;
    position: relative;
    margin: auto;
    margin-top: 25px;
}

ul.honey li {
   
    --h: calc(100% / 3);
    --w: calc(1.15470053838 * var(--h));
    --a: calc(0.28867513459 * var(--h));
    --d: calc(0.57735026919 * var(--h));
    height: var(--h);
    width: var(--w);
    position: absolute;
}

    ul.honey img {
        display: block;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        --aw: 24.99999999999%;
        -webkit-clip-path: polygon( var(--aw) 0, 0 50%, var(--aw) 100%, calc(100% - var(--aw)) 100%, 100% 50%, calc(100% - var(--aw)) 0 );
        clip-path: polygon( var(--aw) 0, 0 50%, var(--aw) 100%, calc(100% - var(--aw)) 100%, 100% 50%, calc(100% - var(--aw)) 0 );
        background: #9e9e9e42;
        border: 1px solid #fff;
    }

ul.honey li:nth-of-type(1) {
    left: calc(50% - var(--a) - var(--d) * 0.5);
    top: 0;
}

ul.honey li:nth-of-type(2) {
    left: calc(50% - var(--a) * 2 - var(--d) * 1.5);
    top: calc(var(--h) * 0.5);
}

ul.honey li:nth-of-type(3) {
    left: calc(50% - var(--a) * 2 - var(--d) * 1.5);
    top: calc(var(--h) * 1.5);
}

ul.honey li:nth-of-type(4) {
    left: calc(50% - var(--a) - var(--d) * 0.5);
    top: calc(var(--h) * 2);
}

ul.honey li:nth-of-type(5) {
    left: calc(50% + var(--d) * 0.5);
    top: calc(var(--h) * 0.5);
}

ul.honey li:nth-of-type(6) {
    left: calc(50% + var(--d) * 0.5);
    top: calc(var(--h) * 1.5);
}

/* 
style 
*/

ul.honey {
    -webkit-filter: drop-shadow(0 0 10px hsla(0,0%,0%,0.3));
    filter: drop-shadow(0 0 10px hsla(0,0%,0%,0.3));
}

ul.honey li:hover {
    -webkit-filter: drop-shadow(0 0 10px powderblue);
    filter: drop-shadow(0 0 10px powderblue);
    z-index: 10;
}

/*
anim
*/

ul.honey {
    -webkit-animation: r 4s forwards;
    animation: r 4s forwards;
}

@-webkit-keyframes r {
    from {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@keyframes r {
    from {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

ul.honey li {
    -webkit-animation: ir 4s forwards;
    animation: ir 4s forwards;
}

@-webkit-keyframes ir {
    from {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@keyframes ir {
    from {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }

    to {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

.normal-container {
    height: 100%;
    width: 100%;
    margin-top: 90px;
    background: #9e9e9e17;
    padding: 12px;
}

.smile-rating-container {
    position: relative;
    height: 10%;
    min-width: 220px;
    max-width: 520px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    top: 20%;
}

.submit-rating {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.rating-label {
    position: relative;
    font-size: 1.6em;
    text-align: center;
    -webkit-box-flex: 0.34;
    flex: 0.34;
    z-index: 3;
    font-weight: bold;
    cursor: pointer;
    color: #d0cccd;
    -webkit-transition: 500ms;
    transition: 500ms;
}

    .rating-label:hover, .rating-label:active {
        color: #d0cccd;
    }

.rating-label-fun {
    left: -58px;
    text-align: right;
}

.rating-label-meh {
    left: 58px;
    text-align: left;
    color: #222;
}

.smile-rating-container input {
    display: none;
}

.toggle-rating-pill {
    position: relative;
    height: 65px;
    width: 165px;
    background: #d0cccd;
    border-radius: 500px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

.smile-rating-toggle {
    position: absolute;
    width: 54px;
    height: 54px;
    background-color: white;
    left: 182px;
    border-radius: 500px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    z-index: 4;
}

.rating-eye {
    position: absolute;
    height: 12px;
    width: 8px;
    top: 22px;
    background: #d0cccd;
    border-radius: 500px;
    z-index: 5;
    -webkit-transition: all 440ms;
    transition: all 440ms;
    -webkit-animation: blink-eye 3s infinite;
    animation: blink-eye 3s infinite;
}

@-webkit-keyframes blink-eye {
    0% {
        height: 12px;
        width: 8px;
        top: 22px;
    }

    20% {
        height: 12px;
        width: 8px;
        top: 22px;
    }

    40% {
        height: 12px;
        width: 8px;
        top: 22px;
    }

    60% {
        height: 12px;
        width: 8px;
        top: 22px;
    }

    80% {
        height: 12px;
        width: 8px;
        top: 22px;
    }

    90% {
        height: 12px;
        width: 8px;
        top: 22px;
    }

    95% {
        height: 2px;
        width: 8px;
        top: 30px;
    }

    100% {
        height: 12px;
        width: 8px;
        top: 22px;
    }
}

@keyframes blink-eye {
    0% {
        height: 12px;
        width: 8px;
        top: 22px;
    }

    20% {
        height: 12px;
        width: 8px;
        top: 22px;
    }

    40% {
        height: 12px;
        width: 8px;
        top: 22px;
    }

    60% {
        height: 12px;
        width: 8px;
        top: 22px;
    }

    80% {
        height: 12px;
        width: 8px;
        top: 22px;
    }

    90% {
        height: 12px;
        width: 8px;
        top: 22px;
    }

    95% {
        height: 2px;
        width: 8px;
        top: 30px;
    }

    100% {
        height: 12px;
        width: 8px;
        top: 22px;
    }
}

.rating-eye-left {
    left: 192px;
}

.rating-eye-right {
    left: 216px;
}

.mouth {
    position: absolute;
    width: 28px;
    height: 20px;
    z-index: 6;
    border: 4px solid #d0cccd;
    border-radius: 10%;
    border-bottom-color: rgba(1, 1, 1, 0);
    border-right-color: rgba(1, 1, 1, 0);
    border-left-color: rgba(1, 1, 1, 0);
    top: 42px;
    left: 190px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

/*
Toggle Changes
*/
#meh:checked ~ .rating-label-meh {
    color: #555e63;
}

#fun:checked ~ .rating-label-meh {
    color: #d0cccd;
}

#fun:checked ~ .mouth {
    border: 4px solid #00b9ee;
    border-bottom-color: rgba(1, 1, 1, 0);
    border-right-color: rgba(1, 1, 1, 0);
    border-left-color: rgba(1, 1, 1, 0);
    top: 23px;
    left: 291px;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    border-radius: 100%;
}

#fun:checked ~ .rating-label-fun {
    color: #555e63;
}

#fun:checked ~ .smile-rating-toggle {
    left: 282px;
}

#fun:checked ~ .rating-eye-left {
    left: 292px;
}

#fun:checked ~ .rating-eye-right {
    left: 316px;
}

#fun:checked ~ .toggle-rating-pill {
    background-color: #00b9ee;
}

#fun:checked ~ .rating-eye {
    background-color: #00b9ee;
}

@media only screen and (max-width: 524px) {
    .normal-container {
        
        height: 100%;
        width: 100%;
    }

    .smile-rating-container {
        position: relative;
        height: 10%;
        width: 100%;
        margin: auto;
        font-family: 'Roboto', sans-serif;
        top: 20%;
    }

    .submit-rating {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .rating-label {
        position: relative;
        font-size: 1.6em;
        text-align: center;
        -webkit-box-flex: 0.34;
        flex: 0.34;
        z-index: 3;
        font-weight: bold;
        cursor: pointer;
        color: #d0cccd;
        -webkit-transition: 500ms;
        transition: 500ms;
    }

        .rating-label:hover, .rating-label:active {
            color: #d0cccd;
        }

    .rating-label-fun {
        left: -58px;
        text-align: right;
    }

    .rating-label-meh {
        left: 50px;
        text-align: left;
        color: #222;
    }

    .smile-rating-container input {
        display: none;
    }

    .toggle-rating-pill {
        position: relative;
        height: 65px;
        width: 165px;
        background: #d0cccd;
        border-radius: 500px;
        -webkit-transition: all 500ms;
        transition: all 500ms;
    }

    .smile-rating-toggle {
        position: absolute;
        width: 54px;
        height: 54px;
        background-color: white;
        left: 168px;
        border-radius: 500px;
        -webkit-transition: all 500ms;
        transition: all 500ms;
        z-index: 4;
    }

    .rating-eye {
        position: absolute;
        height: 12px;
        width: 8px;
        background: #d0cccd;
        border-radius: 500px;
        top: 22px;
        z-index: 5;
        -webkit-transition: all 440ms;
        transition: all 440ms;
    }

    .rating-eye-left {
        left: 180px;
    }

    .rating-eye-right {
        left: 201px;
    }

    .mouth {
        position: absolute;
        width: 28px;
        height: 20px;
        z-index: 6;
        border: 4px solid #d0cccd;
        border-radius: 10%;
        border-bottom-color: rgba(1, 1, 1, 0);
        border-right-color: rgba(1, 1, 1, 0);
        border-left-color: rgba(1, 1, 1, 0);
        top: 42px;
        left: 177px;
        -webkit-transition: all 500ms;
        transition: all 500ms;
    }

    /*
  Toggle Changes
  */
    #meh:checked ~ .rating-label-meh {
        color: #555e63;
    }

    #fun:checked ~ .rating-label-meh {
        color: #d0cccd;
    }

    #fun:checked ~ .mouth {
        border: 4px solid #00b9ee;
        border-bottom-color: rgba(1, 1, 1, 0);
        border-right-color: rgba(1, 1, 1, 0);
        border-left-color: rgba(1, 1, 1, 0);
        top: 23px;
        left: 275px;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        border-radius: 100%;
    }

    #fun:checked ~ .rating-label-fun {
        color: #555e63;
    }

    #fun:checked ~ .smile-rating-toggle {
        left: 266px;
    }

    #fun:checked ~ .rating-eye-left {
        left: 275px;
    }

    #fun:checked ~ .rating-eye-right {
        left: 300px;
    }

    #fun:checked ~ .toggle-rating-pill {
        background-color: #00b9ee;
    }

    #fun:checked ~ .rating-eye {
        background-color: #00b9ee;
    }
}


.align-unit {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 50%;
    height: 75px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 25px 100px -20px rgba(51, 51, 0, 0.1);
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
}

    .align-unit:active {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
    }

.icon {
    --i1: 0;
    --i2: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 40px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: #e8e8e8;
    pointer-events: none;
}

    .icon[data-state="0"], .align-radio[value="100"]:checked ~ .icon {
        --i1: 0;
        --i2: 1;
    }

    .icon[data-state="1"], .align-radio[value="500"]:checked ~ .icon {
        --i1: 1;
        --i2: 1;
    }

    .icon[data-state="2"], .align-radio[value="1000"]:checked ~ .icon {
        --i1: 1;
        --i2: 0;
    }

    .icon:nth-of-type(4) {
        color: #000;
    }

.l {
    display: -webkit-box;
    display: flex;
    width: 100%;
}

    .l::before, .l::after {
        content: "";
        -webkit-transition: 0.75s flex-grow, 0.75s -webkit-box-flex;
        transition: 0.75s flex-grow, 0.75s -webkit-box-flex;
        transition: 0.75s flex-grow;
        -webkit-transition-delay: var(--delay);
        transition-delay: var(--delay);
    }

    .l::before {
        -webkit-box-flex: var(--i1);
        flex-grow: var(--i1);
    }

    .l::after {
        -webkit-box-flex: var(--i2);
        flex-grow: var(--i2);
    }

    .l:nth-of-type(1) {
        --delay: 0s;
    }

    .l:nth-of-type(2) {
        --delay: 0.08s;
    }

    .l:nth-of-type(3) {
        --delay: 0.16s;
    }

.s {
    width: 40px;
    height: 6px;
    -webkit-transform: scaleY(0.75);
    transform: scaleY(0.75);
    background-color: currentColor;
    border-radius: 1em;
}

.l:nth-of-type(3) .s {
    width: 20px;
}

.align-radio {
    width: 90px;
    height: 90px;
    opacity: 0;
    cursor: pointer;
}

.box {
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 3em;
}
.input-field-radio label.active {
    -webkit-transform: translateY(-15px) scale(0.8);
    transform: translateY(-15px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 100%;
    color: #9e9e9e;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 1em;
    cursor: text;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    text-align: initial;
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
    pointer-events: none;
}
.visibility {
    float: left;
    width: 68%;
}

.slot {
    width: 33.3%;
    height: 72px;
    float: left;
    margin-right: 0px;
    display: table;
    position: relative;
}

    .slot:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .slot:hover {
        color: #fff;
    }

        .slot:hover:before {
            background-color: #333;
            box-shadow: inset 0 0px 24px #222;
        }

    .slot.disabled, .slot.disabled:hover {
        color: #ccc;
        cursor: not-allowed;
    }

        .slot.disabled:before, .slot.disabled:hover:before {
            background-color: #eee;
            box-shadow: none;
        }

    .slot span {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        z-index: 1;
    }

        .slot span b {
            display: block;
        }

    .slot input[type="radio"] {
        position: absolute;
        left: 0;
        top: 0;
        width: 101%;
        height: 100%;
        cusor: pointer;
    }

        .slot input[type="radio"]:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #ccc;
            box-shadow: inset 0 0px 24px #bbb;
            opacity: 0.89;
        }

        .slot input[type="radio"]:checked:after {
            color: #fff;
            background-color: #009688;
            box-shadow: inset 0 0px 24px #009688;
        }

        .slot input[type="radio"]:disabled:after {
            background-color: #eee;
            box-shadow: none;
        }

    .slot:hover input[type="radio"] {
        display: none;
    }
.form-image-uploader .input-field label {
    text-transform: uppercase;
    font-weight: 700;
}
.multi-step label {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0px;
    font-weight: 700;
}
.multi-step .modal-content {
    border-radius: 0px;
}
.multi-step .btn {
    box-shadow: none;
}
.multi-step .modal-footer .btn-prev {
    background-color: transparent;
    color: #9E9E9E;
    
}
.multi-step .modal-footer .btn-skip {
    background-color: transparent;
    color: red;
    border: 1px solid #9E9E9E;
}
.multi-step .modal-footer .btn-next {
    background-color: #607D8B;
}
.multi-step .modal-header .modal-title {
  
    margin-bottom: 30px;
    border-bottom: 1px solid;
    padding-bottom: 15px;
}
.multi-step .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    position: absolute;
    right: 32px;
    top: 14px;
    background: #9E9E9E;
    height: 53px;
}
#gallery-wrapper {
    margin-top: 72px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.02);
    padding-top: 30px;
}
    #gallery-wrapper .image-wrapper {
        position: relative;
        opacity: 1;
        z-index: 99999;
    }
.fancybox-thumbs__list a:before {
    border: 2px solid #607D8B;
   
}
#gallery {
    display: grid;
    grid-template: repeat(6, 1fr)/repeat(6, 1fr);
    grid-gap: 0.5em;
    padding: 0px;
}
    #gallery .btn {
        z-index: 9999;
        position: absolute;
        right: 0px;
        top: 0px;
        background: #9e9e9e2b;
    }
    #gallery .btn-delete {
        
    }
        #gallery .btn:hover {
            background: #9E9E9E;
            color: #fff;
        }
        #gallery .btn:hover img  {
            filter: none!important;
        }
@media (max-width: 800px) {
    .align-unit {
        width: 100%;
        border-radius: 0px;
    }
    .input-field-radio {
        margin-bottom: 210px!important;
    }
    .visibility {
        width: 100%;
    }
        .visibility .slot {
            width: 50%;
        }
    #gallery {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }

        #gallery > div {
            width: 96%;
            margin: 1%;
        }
}

@media (max-width: 800px) and (max-width: 350px) {
    #gallery > div {
        width: 98%;
    }
}

#gallery > div:nth-child(6n + 1) {
    grid-column: span 2;
    grid-row: span 2;
}

#gallery > div:nth-child(2) {
    grid-column: span 3;
    grid-row: span 3;
}

#gallery > div:nth-child(4) {
    grid-column: span 1;
    grid-row: span 2;
}

#gallery > div > a {
    opacity: 0;
    position: absolute;
    font: bold 4em "Helvetica";
    text-shadow: 0 -1px 5px #fff, -1px 0px 5px #fff, 0 1px 5px #fff, 1px 0px 5px #fff;
    padding: 2rem;
    /*mix-blend-mode: difference;*/
    width: 100%;
    height: 100%;
    transition: all ease 1s;
}
#gallery > div > a {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
    #gallery > div > a.visibility-1 {
        border-top: 1px solid green;
        border-bottom: 1px solid green;
    }
#gallery > div > img {
    transition: all ease 1s;
}

#gallery > div:hover img {
    filter: blur(4px);
}

#gallery > div:hover a {
    opacity: 1;
}

#gallery > div {
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}
    #gallery > div:before {
        content: "";
        background: url(/as-images/components/dotted.png);
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.2;
        z-index: 1;
    }




    #gallery div,
    #gallery a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

.add {
    width: 84px;
    height: 84px;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
    top: -25px;
    position: absolute;
    z-index: 99999;
}
    .add a {
        display: block;
        position: relative;
        width: 50%;
        padding-bottom: 50%;
        
        background: transparent;
        -webkit-backface-visibility: hidden;
        -webkit-transition: border-radius .3s ease, -webkit-transform .2s ease;
        transition: border-radius .3s ease, -webkit-transform .2s ease;
        transition: border-radius .3s ease, transform .2s ease;
        transition: border-radius .3s ease, transform .2s ease, -webkit-transform .2s ease;
    }
    .add:hover a {
        background: #9E9E9E;
        cursor: pointer;
    }
    .add a:hover svg {
        fill: #000;
    }
        .add a svg {
            display: block;
            width: 14px;
            height: 14px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -7px 0 0 -7px;
            opacity: 0;
            fill: #fff;
            -webkit-transform: scale(0.6) rotate(-45deg);
            transform: scale(0.6) rotate(-45deg);
            -webkit-transition: all .15s ease;
            transition: all .15s ease;
            -webkit-backface-visibility: hidden;
        }
.add a:nth-child(1) {
  border-radius: 8px 0 0 0;
}
.add a:nth-child(2) {
  border-radius: 0 0 0 8px;
}
.add a:nth-child(3) {
  border-radius: 0 8px 0 0;
}
.add a:nth-child(4) {
  border-radius: 0 0 8px 0;
}
    .add:before, .add:after {
        content: '';
        width: 14px;
        height: 2px;
        border-radius: 0px;
        background: #9e9e9e85;
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        z-index: 1;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transition: -webkit-transform .25s ease;
        transition: -webkit-transform .25s ease;
        transition: transform .25s ease;
        transition: transform .25s ease, -webkit-transform .25s ease;
    }
.add:before {
  -webkit-transform: translate(-50%, -50%) scaleY(0.76);
          transform: translate(-50%, -50%) scaleY(0.76);
}
.add:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg) scaleY(0.76);
          transform: translate(-50%, -50%) rotate(90deg) scaleY(0.76);
}
.add:hover {
  -webkit-transform: scale(1) rotate(45deg);
          transform: scale(1) rotate(45deg);
  -webkit-transition: -webkit-transform .4s ease .1s;
  transition: -webkit-transform .4s ease .1s;
  transition: transform .4s ease .1s;
  transition: transform .4s ease .1s, -webkit-transform .4s ease .1s;
}
.add:hover:before {
  -webkit-transform: translate(-50%, -50%) scaleY(0.76) scaleX(3);
          transform: translate(-50%, -50%) scaleY(0.76) scaleX(3);
}
.add:hover:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg) scaleY(0.76) scaleX(3);
          transform: translate(-50%, -50%) rotate(90deg) scaleY(0.76) scaleX(3);
}
.add:hover a {
  --scale: 1;
  pointer-events: none;
  border-radius: 50%;
  -webkit-animation: pointerEvent 0s linear forwards .4s;
          animation: pointerEvent 0s linear forwards .4s;
  -webkit-transition: border-radius .15s ease .1s, -webkit-transform .25s ease .15s;
  transition: border-radius .15s ease .1s, -webkit-transform .25s ease .15s;
  transition: border-radius .15s ease .1s, transform .25s ease .15s;
  transition: border-radius .15s ease .1s, transform .25s ease .15s, -webkit-transform .25s ease .15s;
}
.add:hover a:nth-child(1) {
  -webkit-transform: translate(-6px, -6px) scale(var(--scale));
          transform: translate(-6px, -6px) scale(var(--scale));
}
.add:hover a:nth-child(2) {
  -webkit-transform: translate(-6px, 6px) scale(var(--scale));
          transform: translate(-6px, 6px) scale(var(--scale));
}
.add:hover a:nth-child(3) {
  -webkit-transform: translate(6px, -6px) scale(var(--scale));
          transform: translate(6px, -6px) scale(var(--scale));
}
.add:hover a:nth-child(4) {
  -webkit-transform: translate(6px, 6px) scale(var(--scale));
          transform: translate(6px, 6px) scale(var(--scale));
}
.add:hover a svg {
  opacity: .7;
  -webkit-transition: all .3s ease .2s;
  transition: all .3s ease .2s;
  -webkit-transform: scale(1) rotate(-45deg);
          transform: scale(1) rotate(-45deg);
}
.add:hover a:hover {
  --scale: .92;
  -webkit-transition: border-radius .2s ease .1s, -webkit-transform .25s ease 0s;
  transition: border-radius .2s ease .1s, -webkit-transform .25s ease 0s;
  transition: border-radius .2s ease .1s, transform .25s ease 0s;
  transition: border-radius .2s ease .1s, transform .25s ease 0s, -webkit-transform .25s ease 0s;
}
.add:hover a:hover svg {
  opacity: 1;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

@-webkit-keyframes pointerEvent {
  100% {
    pointer-events: auto;
  }
}

@keyframes pointerEvent {
  100% {
    pointer-events: auto;
  }
}

